<ion-content>
  <div class="layout_elements">
    <img src="assets/img/Logo Gris_Mesa de trabajo 1.svg" alt="logo1" class="imglog1">
  <div class="">
    <h2 class="text_centered">¿Ya has visto lo que Live se puede hacer por tu vida y la de tu negocio?</h2>
  </div>
  <div class="center_content">
    <img src="assets/img/Mensajero-01.svg" alt="logo1" width="512px">
  </div>
  <div class="">
    <h2 class="text_centered" style="color: black; font-weight: bold;">Factura en tiempo real a tus clientes</h2>
  </div>
  
  <div class="center_content tiny_div">
    <span class="punto_gris" style="background-color: #f85c4d"></span>
    <span class="punto_gris" style="background-color: #bbb"></span>
    <span class="punto_gris" style="background-color: #bbb"></span>
  </div>

  <ion-button expand="block" style="--background:#f85c4d">Ingresar a mi negocio</ion-button>
  <h2>¿Aún no tienes cuenta? Crea una gratis</h2>
  <ion-button expand="block" style="--background:#ececfb; color:black" (click)="goNext()">Registrar mi negocio</ion-button>
  <br>
  <br>
  <h5 class="text_leyend">Una plataforma de Passer para mejorar tu vida de negocios</h5>
  </div>
  
</ion-content>